doctype html
html(lang='ru')
    head
        meta(charset='utf-8')
        title #{title} - convert your html code to jade
        meta(name='description', content='Convert HTML to PUG')
        meta(name='author', content='DimenSi, https://github.com/edDimensi/html2pug')
        meta(name="url" content=baseUrl)
        meta(itemprop="name" content=title)
        meta(itemprop="description" content="#{title} - convert your html code to jade")
        link(rel="apple-touch-icon", sizes="180x180", href="/apple-touch-icon.png")
        link(rel="icon", type="image/png", href="/favicon-32x32.png", sizes="32x32")
        link(rel="icon", type="image/png", href="/favicon-16x16.png", sizes="16x16")
        link(rel="manifest", href="/manifest.json")
        link(rel="mask-icon", href="/safari-pinned-tab.svg", color="#5bbad5")
        meta(name="theme-color", content="#ffffff")
        meta(property="og:title" content="#{title} - convert your html code to jade")
        meta(property="og:site_name" content=title)
        // Mobile Specific Metas
        //-meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
        // CSS
        link(rel='stylesheet', href='css/amazium.css')
        link(rel='stylesheet', href='css/style.css')
        meta(name="yandex-verification" content="91972f31653d8cf2")
        // Favicons
        link(rel='shortcut icon', href='img/favicon.ico')
        script(src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.5/ace.js")
    body
        block content
        script(src="js/aja.min.js")
        script(src="js/main.js")
